streamlit
pandas
numpy
openpyxl
matplotlib
plotly
seaborn
scipy
statsmodels
copulas
optuna
scikit-learn
geopandas
shapely
fiona
pyproj
rtree
streamlit-folium
pydrive
folium
Pillow
arch
catboost
ecbdata
yfinance
